# Ignore all compiled Java class files
*.class

# Ignore log files
*.log

# Ignore build directories (Maven/Gradle)
target/
build/

# Ignore IDE specific folders (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
.classpath
.project
.settings/
.vscode/